/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
html{
    font-size: 10px;
}
body{
    font-family: serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
}
body h1,h2{
    font-family: sans-serif;
}
header h1{
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.05em;
}
section h2+p{
    text-indent: 2em;
}
a{
    color:#a66;
}
a:link{
 color:#a66;
}
a:visited{
  color: grey;
}
a:focus{
    text-decoration: none;
    
}
a:hover{
    text-decoration: none;

}
a:active{
   
}
a[href*="http"]{
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 1em 1em;
    padding-right: 1.2em;
}
li{
    line-height: 1.5;
}
nav li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    display: block;
    width: 10em;
    height: 3em;
    border:0.1em solid #a66;
    padding-top: 0.6em;
    text-align: center;
    
}
nav a:hover{
    background-color: #a66;
    color:white;
}




